@using HandiworkShop.Common.Resourses
@{ ViewData["Title"] = string.Format(PageTitleResource.SiteName); }

@if (User.Identity.IsAuthenticated)
{
    <h1>Добро пожаловать!</h1>
}
else
{
    <div class="enter">
        <a class="signin" asp-controller="Account" asp-action="SignIn">Войти</a>
        <a class="signup" asp-controller="Account" asp-action="SignUp">Регистрация</a>
    </div>
}