<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("css", false)
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a asp-controller="Home" asp-action="Index"><img class="logo-image" src="~/images/logo.png" alt="logo"></a>
            </div>
            <div class="nav-buttons">
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-antiforgery="true">
                        <input formmethod="get" asp-controller="Search" asp-action="Index" type="image" src="~/images/search.png" alt="search" title="поиск">
                        <input formmethod="get" asp-controller="Orders" asp-action="Index" type="image" src="~/images/shopping_bag.png" alt="orders" title="заказы">
                        <input formmethod="get" asp-controller="Profile" asp-action="Index" asp-route-userName="" type="image" src="~/images/account_circle.png" alt="profile" title="профиль">
                        <input formmethod="post" asp-controller="Account" asp-action="LogOut" type="image" src="~/images/logout.png" alt="logout" title="выйти">
                    </form>
                }
            </div>
        </nav>
    </header>

    <div class="wrapper">
        @RenderBody()
    </div>
    @RenderSection("js", false)
</body>
</html>