@model HandiworkShop.Web.ViewModels.TaskEditViewModel

@{ ViewData["Title"] = "Новое задание"; }

<form method="post" asp-action="CreateTask" asp-controller="Orders">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title">
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description">
    </div>
    <div>
        <label asp-for="Start"></label>
        <input asp-for="Start" value=@DateTime.Now>
        <span asp-validation-for="Start"></span>
    </div>
    <div>
        <label asp-for="End"></label>
        <input asp-for="End">
        <span asp-validation-for="End"></span>
    </div>
    <div>
        <input type="hidden" value="@Model.OrderId" name="OrderId">
    </div>
    <div>
        <input type="submit" value="Создать">
    </div>
</form>