@using HandiworkShop.Common.Resourses
@model HandiworkShop.Web.ViewModels.TaskViewModel

@{ ViewData["Title"] = string.Format(PageTitleResource.StringFormat, PageTitleResource.SiteName, PageTitleResource.EditTask); }

<form method="post" asp-action="EditTask" asp-controller="Orders" class="template-form">
    <div asp-validation-summary="All"></div>
    <div class="upper-container"></div>

    <div>
        <label asp-for="Title" class="template-label"></label>
        <input asp-for="Title" autocomplete="off" class="template-input">
    </div>
    <div>
        <label asp-for="Description" class="template-label"></label>
        <textarea asp-for="Description" autocomplete="off" class="template-input" rows="1"></textarea>
    </div>
    <div>
        <label asp-for="Start" class="template-label"></label>
        <input asp-for="Start" class="template-input">
    </div>
    <div>
        <label asp-for="End" class="template-label"></label>
        <input asp-for="End" class="template-input">
    </div>

    <input type="hidden" value="@Model.OrderId" name="OrderId">
    <input type="hidden" value="@Model.Id" name="Id">

    <div>
        <input type="submit" value="Сохранить" class="template-button">
    </div>
</form>