@using HandiworkShop.Common.Resourses
@model HandiworkShop.Web.ViewModels.ChangePasswordViewModel

@{ ViewData["Title"] = string.Format(PageTitleResource.StringFormat, PageTitleResource.SiteName, PageTitleResource.ChangePassword); }

<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" autocomplete="off">
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" autocomplete="off">
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>
    <div>
        <label asp-for="NewPasswordConfirm"></label>
        <input asp-for="NewPasswordConfirm" autocomplete="off">
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Сохранить" class="template-button">
    </div>
</form>