@model HandiworkShop.Web.ViewModels.ChangePasswordViewModel

@{ ViewData["Title"] = "Смена пароля"; }

<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword">
    </div>
    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword">
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>
    <div>
        <label asp-for="NewPasswordConfirm"></label>
        <input asp-for="NewPasswordConfirm">
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Сохранить">
    </div>
</form>